.my-node-enter {
  transform: translateX(-100%) !important;
}
.my-node-enter-active {
  transform: translateX(0) !important;
}
.my-node-exit {
  transform: translateX(var(--h)) !important;
}
.my-node-exit-active {
  transform: translateX(var(--w)) !important;
}
.my-node-exit-active:first-child {
  transform: translateX(100%) !important;
}
.my-node-move {
  position: absolute;
  left: 0;
  transition: transform 500ms ease;
}

.my-node-move + * {
  transform: translateX(20%);
}
